@tailwind base;

@tailwind components;
@tailwind utilities;

/* styles.css */
.scrollbar-dark::-webkit-scrollbar {
  height: 10px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent; /* You can change this to your desired color */
}

.scrollbar-dark::-webkit-scrollbar-track {
  border-radius: 6px;
}
.scrollbar-dark:hover::-webkit-scrollbar-thumb {
  background-color: #d6d6d6; /* You can change this to your desired color */
}

@layer components {
  .custom-modal-input {
    @apply border-solid border border-gray-200 rounded-md w-full px-5 py-3 text-lg text-gray-700 placeholder-gray-400 focus:outline-none focus:border-transparent focus:ring-4 focus:ring-gray-300;
  }
  .custom-modal-heading {
    @apply leading-relaxed text-2xl font-semibold dark:text-gray-400;
  }
  .custom-modal-subheading {
    @apply leading-relaxed text-xl font-semibold dark:text-gray-400;
  }
  .custom-modal-subtext {
    @apply text-base leading-relaxed mt-2 text-gray-500 dark:text-gray-400;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
